/* ==== Custom styles === */
/* Search box */
#search_box
{
	margin-top: 100px;
}

.form-control {
    border-radius: 0px;
}

.btn {
    border-radius: 0px;
}
.img-width {
	width: 200px !important;
}

.table-results{
	word-break: break-all !important;
}
.main_panel{
	border-style: none;
}
