<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Linked data search</title>
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css"%}" />
    <link rel="stylesheet" type="text/css" href="{% static "resources/css/custom.css"%}" />

		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"> </script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"> </script><![endif]-->
</head>
<body>


<div class="row" id="search_box">
		  <div class="col-md-offset-2 col-md-8">
			<div class="panel panel-default main_panel">
				<h1>Linked data</h1>
				<div class="panel-body ">
                    <form id="search_query" method="get" action="">
                        
                        {{ form.non_field_errors }}
                        <div class="form-group">
                            {{ form.sparql_endpoint.errors }}
                            <label for="{{ form.sparql_endpoint.1 }}">SPARQL Endpoint</label>
                            {{ form.sparql_endpoint }}
					    </div>

                        <div class="form-group">
                            {{ form.uri.errors }}
                            <label for="{{ form.uri.2 }}">URI</label>
                            {{ form.uri }}
                            {{ form.prefix.as_hidden }}
                            {{ form.varProperty.as_hidden }}
                            <br>
                            {% for query_type in form.query_type %}
                            <div class="query_tipes_chb">
                                {{ query_type }}
                            </div>
                            {% endfor %}
                            <br>
                            <label for="{{ form.iter_number.1 }}">Iteration</label>
                            {{ form.iter_number }}
					    </div>

                        <input class="btn btn-default" type="submit" value="Search">

                    </form>

				</div> <!-- ./panel-body -->
			</div>
		  </div>
		</div> <!-- ./search_box -->
        
        <script src="{% static "bootstrap/js/jquery-3.1.0.min.js" %}"></script>
		<script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
</body>
</html>
