<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Semantic query results</title>
    <link rel="stylesheet" type="text/css" href="{% static "/bootstrap/css/bootstrap.css"%}" />
    <link rel="stylesheet" type="text/css" href="{% static "/resources/css/custom.css"%}" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"> </script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"> </script><![endif]-->
    <script src="//d3plus.org/js/d3.js"></script>
    <script src="//d3plus.org/js/d3plus.js"></script>
  </head>
<script type='text/javascript'>
  window.onload=function(){
    var options = [
      set0 = {{ query_objects|safe }},
      set1 = {{ query_picture_url|safe }},
      set2 = {{ query_objects2|safe }},
      set3 = {{ query_picture_url2|safe }},
      set4 = {{ query_relations|safe }}

      /*set0 = {{ query_objects|safe }},
      set1 = {{ query_relations|safe }},
      set2 = {{ query_picture_url|safe }},
      set3 = {{ query_objects2|safe }}*/
    ];
    function makeUL(array0, array1, array2, array3, array4) {
      var body = document.getElementById('sparqlResult'),
      tbl  = document.createElement('table');
      tbl.style.width  = '100%';
      tbl.className="table table-striped table-hover table-results";
      //tbl.style.border = '1px solid black';

      if (set2 == ""){
        for(var i = 0; i < array0.length; i++){
          var tr = tbl.insertRow();
          for(var j = 0; j < 1; j++){
            var td0 = tr.insertCell();
            var td1 = tr.insertCell();
            var td2 = tr.insertCell();
            var img = document.createElement("img");
            var a = document.createElement('a');




            img.className="img-thumbnail img-responsive img-width";
            td0.appendChild(document.createTextNode(array0[i]));
            //td.style.border = '1px solid black';

            td1.appendChild(document.createTextNode(array2[i]));
            //td1.style.border = '1px solid black';


            img.src = array1[i];
            
            a.href = array1[i];
            a.appendChild(img);
            td2.appendChild(a);
            //td2.appendChild(img);

            var thisLiTag = document.createElement('li');
            var thisATag = document.createElement('a');
            thisATag.setAttribute('href', encodeURI('test/site'));
            var thisTextNode = document.createTextNode('www.google.com');
            thisATag.appendChild(thisTextNode);
            thisLiTag.appendChild(thisATag);
          }
        }
      }
      else {
        for(var i = 0; i < array0.length; i++){
          var tr = tbl.insertRow();
          for(var j = 0; j < 1; j++){
            var td0 = tr.insertCell();
            var td1 = tr.insertCell();
            var td2 = tr.insertCell();
            var td3 = tr.insertCell();
            var td4 = tr.insertCell();
            var img1 = document.createElement("img");
            var img2 = document.createElement("img");
            var a = document.createElement('a');
            var a2 = document.createElement('a');


            img1.className="img-thumbnail img-responsive img-width";
            img2.className="img-thumbnail img-responsive img-width";
            td0.appendChild(document.createTextNode(array0[i]));
            //td.style.border = '1px solid black';
            //td1.style.border = '1px solid black';


            td4.style.width = "40px";
            img1.src = array1[i];

            a.href = array1[i];
            a.appendChild(img1);
            td1.appendChild(a);

            //td1.appendChild(img1);

            //td1.appendChild(document.createTextNode(array1[i]));
            td2.appendChild(document.createTextNode(array2[i]));
            //td3.appendChild(document.createTextNode(array3[i]));

            a2.href = array3[i];
            a2.appendChild(img2);
            td3.appendChild(a2);
            img2.src = array3[i];
            //td3.appendChild(img2);
            td4.appendChild(document.createTextNode(array4[i]));
            /*var thisLiTag = document.createElement('li');
            var thisATag = document.createElement('a');
            thisATag.setAttribute('href', encodeURI('test/site'));
            var thisTextNode = document.createTextNode('www.google.com');
            thisATag.appendChild(thisTextNode);
            thisLiTag.appendChild(thisATag);*/
          }
        }
      }

      body.appendChild(tbl);
      // Finally, return the constructed list:
      return list;
    }
    // Add the contents of options[0] to #foo:
    if (set2 == ""){
      document.getElementById('foo').appendChild(makeUL(options[0],options[1], options[4]));
    }
    else {
      document.getElementById('foo').appendChild(makeUL(options[0],options[1], options[2], options[3], options[4]));
    }

    function tableCreate(){
    }
    tableCreate();
  }

</script>

<div id="viz"></div>

<script>

  var uri = '{{ uri_view }}'
   objectResults = {{ query_objects|safe }};
   relationsResults = {{ query_relations|safe }};
   imageUrlResults = {{ query_picture_url|safe }};
  var sample_data = [
    {"property": {"type": "uri", "value": "http://purl.org/dc/elements/1.1/identifier"},
        "object": {"datatype": "http://www.w3.org/2001/XMLSchema#string", "type": "typed-literal", "value": "http://foto.mty.itesm.mx/spaces/mediastock/work/2453/120621_105237F.jpg"}},
    {"property": {"type": "uri", "value": "http://purl.org/dc/terms/temporal"},
        "object": {"type": "uri", "value": "http://semtech.mty.itesm.mx:8888/marmotta/resource/fototeca/epoca_a34-gobierno_de_lazaro_cardenas_del_rio_1934-1940"}},
    {"object": uri, "size": 30},
    {"property": {"type": "uri", "value": "http://purl.org/dc/terms/temporal"},
        "object": {"type": "uri", "value": "http://semtech.mty.itesm.mx:8888/marmotta/resource/fototeca/Y1939"}},
    {"property": {"type": "uri", "value": "http://purl.org/dc/elements/1.1/description"},
        "object": {"datatype": "http://www.w3.org/2001/XMLSchema#string", "type": "typed-literal", "value": "Prueba Templo construido en 1895"}},
    {"property": {"type": "uri", "value": "http://purl.org/dc/elements/1.1/title"},
        "object": {"datatype": "http://www.w3.org/2001/XMLSchema#string", "type": "typed-literal", "value": "[Santuario de Guadalupe]"}},
    {"property": {"type": "uri", "value": "http://purl.org/dc/terms/isPartOf"},
        "object": {"type": "uri", "value": "http://semtech.mty.itesm.mx:8888/marmotta/resource/fototeca/collection_iglesias"}},
    {"property": {"type": "uri", "value": "http://purl.org/dc/terms/spatial"},
        "object": {"type": "uri", "value": "http://semtech.mty.itesm.mx:8888/marmotta/resource/fototeca/monterrey_nl"}}
  ]


var connections = []
for (i = 0; i < objectResults.length; i++) {
objetox = objectResults[i];
connections [i] = {"source": objetox, "target": uri};
}



  var visualization = d3plus.viz()
    .container("#viz")
    .type("network")
    .data(sample_data)
    .edges(connections)
    .size("size")
    .id("name")
    .draw()

</script>
<body>
  <!-- Fixed navbar -->  <!--/. -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/semanticquery/">Home</a>
      </div><!--/. navbar-header-->
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">About</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!-- /.container -->
  </nav><!-- /.Fixed navbar -->
  <!-- Begin page content -->
  <div class="container">
    <div class="row" >
      <!-- Stack the columns on mobile by making one full-width and the other half-width -->
      <div class="row">
        <div class="col-md-9">
          <!-- Panel results-->
          <div class="main-element" id="main-element"> </div>
          <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading">
              Results
            </div><!-- panel-heading -->
            <div class="panel-body">

              <div class="sparqlResult" id="sparqlResult"> </div>
              <div id="foo"></div>
            </div><!-- ./panel-body -->
          </div> <!-- ./panel panel-info  -->
        </div>
        <div class="col-md-3">
          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Resultados</div>
            <div class="panel-body">
              <!-- List group -->
              <ul class="list-group">
                <li class="list-group-item"><b>Query type:  {{ query_type }}</b></li>
                <li class="list-group-item">Elapsed time: {{ elapsed_time }} s</li>
                <li class="list-group-item">Iterations: {{ iter_number }}</li>
                <li class="list-group-item">Total edges: {{ total_edges }}</li>
                <li class="list-group-item">Repeated edges: {{ repeated_edges }}</li>
                <li class="list-group-item">Unique edges: {{ unique_edges }}</li>
                <li class="list-group-item">Weight sumation: {{ weight_sumation }} </li>
                <li class="list-group-item">Number of queries: {{ query_number }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div> <!-- row  -->
  </div> <!-- ./panel default  -->
  <br><br>
  <!-- Begin page footer -->
  <footer class="footer">
  <div class="footer_background">
  <div class="container">
  <div class="row">
  <div class="col-md-3"><p class="text-muted">Footer information. <a href="#">Links</a>	</p></div>
  </div>
  </div> <!--/. footer container-->
  </div><!-- ./ footer_background -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="{% static "/bootstrap/js/bootstrap.min.js" %}"></script>

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="{% static "/bootstrap/js/ie10-viewport-bug-workaround.js" %}"></script>

</body>
</html>
